.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h1 {
  margin: 0;
  text-align: left;
}

.header-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  margin-left: auto; /* Pushes the ul to the right */
}

.header-container ul li {
  display: inline;
}

.header-container ul li a {
  text-decoration: none;
}
